<HTML>
<BODY bgcolor="cyan">
<form method="POST" action="">
    <center>
    <H1>Enter your details </H1> <br>
     Name <input type = "text" name= "name" /> <br>
     Designation <input type = "text" name = "desig" /> <br>
     Address <input type = "text" name = "addr" /> <br>
     Phone <input type = "text" name = "phone" /> <br><br>
    <input type = "Submit" value = "Add Employee">
    <input type = "Submit" value = "View Employee">
	<input type = "Submit" value = "Delete Employee">
	<input type = "Submit" value = "Search Employee">
    </center>
</form>
</BODY>
</HTML>